@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background: url('/images/cloudy-day.png');
  font-family: 'Nunito', sans-serif;
}

.home-link {
  text-align: left;
  font-size: 16px;
  padding: 12px;
}

main {
  flex: 1 0 auto;
}

.home-text {
  font-size: 24px;
  width: 520px;
  margin: 30px auto;
  display: flex;
  align-items: center;
}

.home-btn {
  margin-top: 40px;
}

#survey-btn {
  margin-bottom: 40px;
}

section {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#survey-form .input-field {
  margin: 80px 0;
}

#survey-form p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#survey-form .select-wrapper {
  width: 60%;
  margin: 0 auto;
}

#survey-form input {
  border-bottom: 1px solid lightgray;
  color: rgba(128, 128, 128, 0.75)
}

#survey-form .select-wrapper+label {
  top: -35px;
}

.modal-content img {
  height: 240px;
}

.progress {
  margin-top: 40px;
}

footer a {
  color: white;
  font-size: 16px;
}

footer {
  height: 60px;
}

footer a:hover {
  color:lightgray
}