@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  text-align: center;
  background: url('/images/cloudy-day.png');
  font-family: 'Nunito', sans-serif;
}

section {
  width: 500px;
  margin: 50px auto;
}

#survey-form .input-field {
  margin: 80px 0;
}

#survey-form p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#survey-form .select-wrapper {
  width: 60%;
  margin: 0 auto;
}

#survey-form input {
  border-bottom: 1px solid lightgray;
  color: rgba(128, 128, 128, 0.75)
}

#survey-form .select-wrapper+label {
  top: -35px;
}

.modal-content img {
  height: 260px;
}